@import url(https://fonts.googleapis.com/css?family=Actor);

body{
    background-color: black;
    margin-left: 125px;
    margin-bottom: 100px;
    
}

h1,h2,h3{
    font-family: "Actor", sans-serif;
    color: white;
}

li{
    font-family: "Actor", sans-serif;
    font-size: 35px;
    padding: 20px;
}

p{
    font-family: "Actor", sans-serif;
    color: white;
}

a{
    font-family: "Actor", sans-serif;
    padding-left: 6px;
    padding-right: 6px;
    text-decoration: none;
}

a:default{
    color: white;
}

a:visited{
    color: white;
}

a:hover{
    color: red;
}

.homeheader{
    font-size: 50px;
    margin-top: 60px;
}

.separateheader{
    margin-top: 40px;
}

.album{
    padding: 5px 43px 5px 0px;
}

p.album{
    max-width: 350px;
    width: 350px;
    text-align: center;
    display: inline-block;
}

.live{
    display: inline-block;
    padding: 10px 20px 0px 0px;
}

.pieces{
    display: inline-block;
    padding: 10px 20px 0px 0px;
    /*border: 1px solid blue;*/
}

p.pieces{
    max-width: 560px;
    width: 560px;
    margin: auto;
    text-align:justify;
    font-size: 15px;
    float:left;
}

.text{
    max-width: 1150px;
    text-align: justify;
    padding: 10px 80px 0px 0px;
}
.animation{
    display: inline-block;
    padding-bottom: 20px;
}

.drawing{
    padding-bottom: 10px;
}

.drawing2{
    display: inline-block;
    padding: 10px 10px;
}

.size{
    padding: 0px 500px;
}

.about{
    columns: 150px 2;
    margin-right: 150px;
}