<a href="{{ work.url | relative_url }}">
  {% if work.thumb != null %}
    <!-- <img src="{{ work.thumb | relative_url }}" /> -->
    <div class="work-grid-thumb" style="--work-image: url('{{ work.thumb | relative_url }}')"></div>
  {% else %}
    <img src="{{ '/images/thumbs/slicer-small.png' | relative_url }}" />
  {% endif %}

  <h3 class="work-title">{{ work.title }} ({{ work.date | date: "%Y" }})</h3>
  
  {% if work.subtitle != empty %}
    <p class="work-subtitle">{{ work.subtitle}}</p>
  {% endif %}
</a>