{% assign type = include.type | default: "works" %}

{% if type == "works" %}
  {% assign works = site.works | where: "category", include.works %}
{% else %}
  {% assign works = site.data.images[include.works] %}
{% endif %}
{% assign cols = include.columns %}

<div class="works-grid works-grid-{{ cols | default: 2 }}">
  {% for work in works %}
    <a href="{{ work.url }}">
      {% if work.thumb != empty %}
        <img src="{{ work.thumb }}" />
      {% elsif work.video != empty %}
        <video src="{{ work.video }}" controls loop muted></video>
      {% endif %}
      <h3 class="work-title">{{ work.title }}</h3>
      
      {% if work.subtitle != empty %}
        <p class="work-subtitle">{{ work.subtitle}}</p>
      {% endif %}
    </a>
  {% endfor %}
</div>