@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Overpass+Mono:wght@700&family=Roboto+Mono:wght@600&display=swap');

:root {
  --base-font: "Inter", sans-serif;
  --header-font: "Overpass Mono";
  --bg-color: black;
  --color: white;
  --accent: red;
}

* {
  box-sizing: border-box;
}

body{
    background-color: var(--bg-color);
    color: var(--color);
    font-family: var(--base-font);
    padding-bottom: 100px;
    /* margin: 0 auto; */
    /* margin-bottom: 100px; */
}

.page-wrap {
  width: 70%;
  margin: 0 auto;
}

img, video {
  max-width: 100%;
}

h1, h2{
    font-family: var(--header-font), sans-serif;
}

h1.page-title {
  font-size: 2.4em;
  line-height: 1.6;
  position: relative;
}

h1.page-title::before {
  --block-size: 0.6em;
  background-color: var(--accent);
  border: 3px solid var(--color);
  box-sizing: border-box;
  box-shadow: inset 0 0 0 4px var(--bg-color);
  content: "";
  position: absolute;
  left: calc(var(--block-size) * -1 - 20px);

  margin: calc(1em - var(--block-size)) 0;
  height: var(--block-size);
  width: var(--block-size);
  transform: rotate(45deg);
}

h2.site-title {
  margin-bottom: 0.25em;
}

h2:not(.site-title) {
  margin-top: 1.5em;
}

h4 {
  font-size: 1.2em;
  font-style: italic;
  margin-top: -1.8em;
  margin-bottom: 2em;
  /* font-family: var(--header-font); */
}

li{

    font-size: 35px;
    padding: 20px;
}

a{
    text-decoration: none;
}

a:link{
    color: var(--color);
}

a:visited{
    color: var(--color);
}

a:hover{
    color: var(--accent);
}

.homeheader{
    font-size: 50px;
    margin-top: 60px;
}

.separateheader{
    margin-top: 40px;
}

.album{
    padding: 5px 43px 5px 0px;
}

p.album{
    max-width: 350px;
    width: 350px;
    text-align: center;
    display: inline-block;
}

.live{
    display: inline-block;
    padding: 10px 20px 0px 0px;
}

.pieces{
    display: inline-block;
    padding: 10px 20px 0px 0px;
    /*border: 1px solid blue;*/
}

p.pieces{
    max-width: 560px;
    width: 560px;
    margin: auto;
    text-align:justify;
    font-size: 15px;
    float:left;
}

.works-grid {
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(2, 1fr);
}

.works-grid-1 {
  grid-template-columns: 1fr;
  width: 70%;
}

.page-visual .works-grid-1 {
  width: 100%;
}

.works-grid-2 {
  grid-template-columns: repeat(2, 1fr);
}

.works-grid-3 {
  grid-template-columns: repeat(3, 1fr);
}

.text{
    max-width: 1150px;
    text-align: justify;
    padding: 10px 80px 0px 0px;
}
.animation{
    display: inline-block;
    padding-bottom: 20px;
}

.drawing{
    padding-bottom: 10px;
}

.drawing2{
    display: inline-block;
    padding: 10px 10px;
}

.size{
    padding: 0px 500px;
}

.about{
    columns: 150px 2;
    margin-right: 150px;
}

nav {
  text-align: center;
  /* margin-right: 0; */
  /* margin-left: auto; */
  /* width: 80%; */
}

nav ul {
  --nav-color: rgba(191, 189, 189, 0.69);
  margin-top: 0.5em;
  padding-left: 0;
}

nav ul li {
  display: inline-block;
  font-size: 0.9em;
  padding: 0;
  position: relative;
  margin-right: 1em;
  text-transform: lowercase;
}

nav ul li:not(:last-of-type)::after {
  content: "";
  display: inline-block;
  /* right: 0; */
  width: 3px;
  height: 0.9em;
  background-color: var(--bg-color);
  border: 0.9px dashed var(--accent);
  margin-bottom: -0.1em;
  margin-left: 1em;
  transform: skew(-18deg);
  box-shadow: inset 0px 2px 0 0 var(--accent), inset 0 -2px 0 0 var(--accent);
  /* position: absolute; */
}

nav ul li a:link,
nav ul li a:visited {
  color: var(--nav-color);
}

nav ul li:first-of-type {
  margin-left: 0;
}

nav ul li:first-of-type a {
  padding-left: 0;
}

nav ul li.active a,
nav ul li a:hover {
  color: var(--accent);
}

.about-image {
  float: left;
  margin-right: 1em;
  width: 50%;
}

.grid-home {
  margin-top: 4.5em;
}

.grid-home ul {
  align-items: center;
  justify-content: center;
  display: flex;
  list-style-type: none;
  padding-left: 0;
  max-width: 100%;
}

.grid-home li {
  background-image: var(--bg);
  background-position: center;
  background-size: cover;
  padding: 0;
  position: relative;
  width: 30%;
}

.grid-home li span {
  width: 80%;
}

.grid-home li::before,
.grid-home li::after {
  content: "";
  display: block;
  height: 100%;
  width: 60px;
  position: absolute;
  left: -30px;
  transform: skew(-7deg);
  z-index: 100000;
  background-color: black;
}

.grid-home li::after {
  display: none;
  left: auto;
  right: -30px;
  top: 0px;
}

.grid-home li:last-child::after {
  display: block;
}

.grid-home ul li a {
  align-items: center;
  display: flex;
  height: 40vh;
  justify-content: center;
  text-align: center;
}

.page-index h1 {
  display: none;
}

@media(max-width: 850px) {
  .works-grid {
    grid-template-columns: 1fr;
  }

  .works-grid-1 {
    width: 100%;
  }

  .grid-home {
    margin-top: 3.5em;
  }

  .grid-home ul {
    flex-direction: column;
  }

  .grid-home ul li {
    margin-top: 0.5em;
    width: 100%;
  }

  .grid-home li::after {
    display: block !important;
  }

  .about-image {
    width: 45%;
  }
}